.rain {
  background-color: $background-color;
  background-image: url("../img/rain.jpg");
}

.snow {
  background-color: $background-color;
  background-image: url("../img/snow.jpg");
}

.night {
  background-color: $night-color;
  background-image: url("../img/rain.jpg");
}

.fog {
  background-color: $background-color;
  background-image: url("../img/fog.jpg");
}

.clouds {
  background-color: $background-color;
  background-image: url("../img/clouds.jpg");
}
